################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TabletSwitchCore/bin
/TabletSwitchCore/obj
/DpiHelper/ARM64/Debug
/ARM64/Debug
